/* -import tipography */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Variables */
:root {
  /* Tipography */
  --body-font: "Raleway", sans-serif;
  --title-font: "Caveat", sans-serif;

  /* Colors */
  --light-gray: #f3f4f6;
  --dark-gray: #111827;
}

/* Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--light-gray);
  color: var(--dark-gray);
  transition: 0.5s;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 0.75;
}

h4 {
  font-size: 1.2rem;
}

span {
  margin-top: 0.75em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Dark */
body.night {
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

/* Main */

.container {
  width: 70%;
}

.container > i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  text-align: center;
}

header > img {
  width: 200px;
  border-radius: 100%;
  border: 5px solid #075985;
}

.CV {
  display: flex;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  width: 100%;
}

.CV-button > i::before {
  background-color: #111827;
  margin-left: 0.5rem;
  border-radius: 100%;
  padding: 5px;
  transition: all 0.5s ease-in-out;
}

.CV-button:hover > i::before {
  background-color: #075985;
}

.CV-button {
  background-color: #075985;
  color: var(--light-gray);
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 4px solid #075985;
  transition: all 0.5s ease-in-out;
}

.CV-button:hover {
  background-color: #111827;
  border: 4px solid #075985;
}

/* tabs */

section > ul {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 10px;
  gap: 0.5rem;
  background-color: #075985;
}
ul > button {
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

ul > button:hover {
  background-color: #111827aa;
}

[data-content] {
  display: none;
}

.filters__active[data-content] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-tab-active {
  background-color: #111827;
}

/* portfolio */
#portfolio {
  gap: 1.5rem;
}

.card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  width: 150px;
}

.card img {
  width: 100%;
  height: 100%;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(180deg, #07598522 0%, #075985 95%);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1.25rem 1rem;
  transition: 0.3s;
  color: white;
}

.card:hover .modal {
  bottom: 0;
}
.ri-link {
  text-align: end;
}

#contact {
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

#contact > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 2px solid #075985;
  gap: 5px;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  transition: all 0.5s ease-in-out;
}

#contact > a > i {
  font-size: 2rem;
  color: #075985;
  transition: all 0.5s ease-in-out;
}

#contact > a:hover > i {
  color: #111827;
}

#contact > a:hover {
  background-color: #075985;
  font-size: 1.5rem;
  color: #f3f4f6;
}

/* Responsive */
@media screen and (max-width: 640px) {
  .container {
    width: 90%;
  }
}
